.Admin {
    min-height: 100vh;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    /* justify-content: center; */
    font-size: 2.5vh;
    display: flex;
    color: black;
    background-color: gainsboro;
}

.Admin * {
    font-family: -apple-system, BlinkMacSystemFont, segoe ui, Roboto, helvetica neue, Arial, noto sans, sans-serif, apple color emoji, segoe ui emoji, segoe ui symbol, noto color emoji;
}

.Admin .SideNavbar {
    height: 100vh;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(blue, dodgerblue);
    color: white;
    gap: 3vh;
    width: 20vw;
    padding: 2vh 2vh;
    text-align: left;
    list-style: none;
}

.Admin .Item {
    padding: 1.5vh 0 1.5vh 3vh;
    border-radius: 0.5vh;
    width: 100%;
    font-size: 1vw;
}

.Admin .Item:hover {
    background-color: rgba(192, 255, 255, 0.235);
    cursor: pointer;
}

.Admin .Active {
    background-color: rgba(192, 255, 255, 0.46);
    font-weight: bold;
}

.Admin .AdminPanel {
    width: 100%;
    border-bottom: 0.5vh solid gainsboro;

}

.Admin .Content {
    width: 80vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.Admin .Users {
    width: 75vw;
    height: 90vh;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 0.5vh;
    margin-top: 2.5vw;
    ;
}

.Admin .User:hover {
    background-color: rgba(30, 143, 255, 0.294) !important;
}

.Admin .User:last-of-type {
    border: none;
}

.Admin .Button {
    cursor: pointer;
    text-align: center;
    width: 50%;
    background-color: rgb(147, 255, 137);
    border-radius: 0.5vh;
    padding: 1vh 0;
    background-color: white;
    color: black;
    font-size: 2vh;
    transition-duration: 0.4s;
    text-decoration: none;
    z-index: 10;
    margin-top: auto;
}

.Admin .Button:hover {
    background-color: goldenrod;
}

.Admin ::-webkit-scrollbar {
    width: 10px;
}

/* Track */
.Admin ::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
.Admin ::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
.Admin ::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.Admin table {
    width: 75vw;
    border-collapse: separate;
    /* Don't collapse */
    border-spacing: 0;
    overflow: scroll;
}

.Admin table * {
    font-size: 2vh;
}

.Admin td,
th {
    padding: 2vh;
}

.Admin td {
    text-align: center;
}

.Admin th {
    border-bottom: 0.3vh solid gainsboro;
}

.Admin .Header {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    background-color: white;
}

.Admin thead {
    position: sticky;
    top: 0;
}

.Admin .Clickable {
    cursor: pointer;
}

.Admin .User:nth-child(odd) {
    background-color: rgba(211, 211, 211, 0.261)
}

.Admin img {
    width: 5vh;
}

.Admin .Users {
    overflow-y: scroll;
}

.Admin .Modal {
    position: absolute;
    width: 80vw;
    height: 80%;
    z-index: 101;
    align-self: center;
    justify-self: center;
    margin-left: auto;
    margin-right: auto;
    left: 10vw;
    box-shadow: rgba(0, 0, 0, 0.897) 0vh 0vh 0vh 30vh;

    border-radius: 0.5vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Admin .ModalBackground {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 400;
}

.Admin .ModalHeader {
    width: 100%;
    height: 10%;
    border-bottom: 0.3vh solid gainsboro;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2vh;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    font-size: 4vh;
}

.Admin .ModalContent {
    padding-top: 5vh;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 80%;
    flex-wrap: wrap;
    gap: 1vh;
    justify-content: center;
    overflow-y: scroll;
    align-items: flex-start;
}

.Admin .UserThings {
    display: flex;
    flex-direction: row;
    width: 90%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.Admin .UserForm {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1vh;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 5vh;
}

.Admin .ModalFooter {
    width: 100%;
    height: 10%;
    border-top: 0.3vh solid gainsboro;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.16) 0 -1px 4px;
    padding: 2vh;
    font-size: 3vh;
}

.Admin .ModalFooter div,
button {
    border: 0.3vh solid black;
    border-radius: 0.5vh;
    padding: 0.5vh 3vh;
    color: white;
    transition: 0.5s;
}

.Admin .ModalFooter div:first-of-type {
    background-color: maroon;
}

.Admin .ModalFooter button:last-of-type {
    background-color: forestgreen;
    padding: 0.5vh 3vh;
    font-size: 3vh;
}

.Admin .ModalFooter div:first-of-type:hover {
    background-color: rgba(128, 0, 0, 0.39);
}

.Admin .ModalFooter div:last-of-type:hover {
    background-color: rgba(34, 139, 34, 0.507);
}

.Admin .ModalContent .UserItems * {
    text-align: center;
    font-size: 3vh;
}

.Admin .ModalContent .UserItems input {
    border: 0.3vh solid black;
    border-radius: 0.5vh;
}

.Admin .CustomSelect {
    position: relative;
}

.Admin .CustomSelect select {
    /*hide original SELECT element: */
    appearance: none;
    margin-top: 2vh;
    width: 10vw;
    border: 0.3vh solid black;
    border-radius: 0.5vh;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;
}

.Admin .select-selected {
    background-color: DodgerBlue;
}

.Admin .select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
}

.Admin .select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 7px;
}

.Admin .ModalItem {
    margin: 0;
    padding: 2vh;
    font-size: 4vh;
    text-align: center;
    height: fit-content;
    justify-content: center;
    align-items: center;
}

.Admin .ModalItem * {
    font-size: 4vh;
    text-align: center;
}

.Admin .UserItems {
    width: 100%;
}

.Admin .ModalContent input {
    border: 0.3vh solid black;
    border-radius: 0.5vh;
    margin-top: 2vh;
}

.Admin .UserMatches {
    width: 90%;
    height: 100vh;
    font-size: 4vh;
}

.Admin .UserMatches .Matches {
    height: 70vh;
    width: 100%;
    margin-top: 1.5vh;
    box-shadow: rgba(0, 0, 0, 0.562) 0vh 3vh 12vh, rgba(0, 0, 0, 0.562) 0vh 3vh 6vh;
    border-radius: 0.5vh;
    background-color: lightslategrey;
    overflow-y: scroll;
}

.Admin .UserMatches .Match {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 5vh;
}

.Admin .UserMatches .MatchHeader {
    border: 0.5vh solid black;
    background-color: moccasin;
    border-radius: 0.5vh;
    padding: 1vh;
    width: 100%;
    align-self: center;
    margin-bottom: 3vh;
}

.Admin .UserMatches .MessageBox {
    margin: 0.5vh 2vh;
    max-width: 70%;
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    font-size: 2vh;
}

.Admin .UserMatches .Message {
    text-align: right;
    padding: 1vh 3vh;
    border: 0.3vh solid black;
    background-color: #0099FF;
    border-radius: 3vh;
    width: 100%;
    color: white;
    width: fit-content;
}

.Admin .MessageBox .Time {
    text-align: right;
    width: 100%;
    padding-right: 1vh;
}

.Admin .Nomessages {
    margin-bottom: 5vh;
}

.Admin .Icon {
    padding-top: 3vh;
}

@media screen and (max-width: 800px) {
    .Admin .ModalItem {
        margin: 0;
        padding: 2vh;
        font-size: 4vh;
        width: 100%;
        height: fit-content;
    }

    .Admin .ModalContent input {
        border: 0.3vh solid black;
        border-radius: 0.5vh;
        width: 70% !important;
    }
}

.Admin .Cards {
    width: 100%;
    height: 100%;
    padding: 2.5vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 4vh;
    overflow-y: scroll;
}

.Admin .CardSection {
    display: flex;
    flex-direction: column;
}

.Admin .CardSection .CardType {
    border: 0.5vh solid black;
    font-size: 3vh;
    font-weight: bold;
    border-radius: 2vh;
    width: max-content;
    padding: 1vh 10vh 1vh 10vh;
    background-color: orange;
}

.Admin .CardsDiv {
    margin-top: 4vh;
    display: flex;
    gap: 4vh;
    flex-wrap: wrap;
}

.Admin .AddCard {
    width: 20vh;
    height: 30vh;
    border: 0.5vh solid black;
    border-radius: 2vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20vh;
    color: lime;
    background-color: forestgreen;
    cursor: pointer;
}


.Admin .Card {
    width: 100%;
    height: 100%;
}

.Admin .CardBack {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative
}

.Admin .CardBackImg{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.Admin .CardBackText{
    z-index: 100;
}

.FlipCard {
    width: 20vh;
    height: 30vh;
    cursor: pointer;
    background-color: transparent;
    perspective: 1000px;
}

/* This container is needed to position the front and back side */
.FlipCardInner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.FlipCard:hover .FlipCardInner {
    transform: rotateY(180deg);
}

/* Position the front and back side */
.FlipCardFront,
.FlipCardBack {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    /* Safari */
    backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.FlipCardFront {
    color: black;
}

/* Style the back side */
.FlipCardBack {
    color: white;
    transform: rotateY(180deg);
}