@import url('https://fonts.googleapis.com/css2?family=Grenze+Gotisch&display=swap');

.Admin {
    min-height: 100vh;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    /* justify-content: center; */
    font-size: 2.5vh;
    display: flex;
    color: black;
    background-color: gainsboro;
}

.Admin * {
    font-family: -apple-system, BlinkMacSystemFont, segoe ui, Roboto, helvetica neue, Arial, noto sans, sans-serif, apple color emoji, segoe ui emoji, segoe ui symbol, noto color emoji;
}

.Admin .SideNavbar {
    height: 100vh;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(blue, dodgerblue);
    color: white;
    gap: 3vh;
    width: 20vw;
    padding: 2vh 2vh;
    text-align: left;
    list-style: none;
}

.Admin .Item {
    padding: 1.5vh 0 1.5vh 3vh;
    border-radius: 0.5vh;
    width: 100%;
    font-size: 1vw;
}

.Admin .Item:hover {
    background-color: rgba(192, 255, 255, 0.235);
    cursor: pointer;
}

.Admin .Active {
    background-color: rgba(192, 255, 255, 0.46);
    font-weight: bold;
}

.Admin .AdminPanel {
    width: 100%;
    border-bottom: 0.5vh solid gainsboro;

}

.Admin .Content {
    width: 80vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.Admin .Users {
    width: 75vw;
    height: 90vh;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 0.5vh;
    margin-top: 2.5vw;
    ;
}

.Admin .User:hover {
    background-color: rgba(30, 143, 255, 0.294) !important;
}

.Admin .User:last-of-type {
    border: none;
}

.Admin .Button {
    cursor: pointer;
    text-align: center;
    width: 50%;
    background-color: rgb(147, 255, 137);
    border-radius: 0.5vh;
    padding: 1vh 0;
    background-color: white;
    color: black;
    font-size: 2vh;
    transition-duration: 0.4s;
    text-decoration: none;
    z-index: 10;
    margin-top: auto;
}

.Admin .Button:hover {
    background-color: goldenrod;
}

.Admin ::-webkit-scrollbar {
    width: 10px;
}

/* Track */
.Admin ::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
.Admin ::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
.Admin ::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.Admin table {
    width: 75vw;
    border-collapse: separate;
    /* Don't collapse */
    border-spacing: 0;
    overflow: scroll;
}

.Admin table * {
    font-size: 2vh;
}

.Admin td,
th {
    padding: 2vh;
}

.Admin td {
    text-align: center;
}

.Admin th {
    border-bottom: 0.3vh solid gainsboro;
}

.Admin .Header {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    background-color: white;
}

.Admin thead {
    position: sticky;
    top: 0;
}

.Admin .Clickable {
    cursor: pointer;
}

.Admin .User:nth-child(odd) {
    background-color: rgba(211, 211, 211, 0.261)
}

.Admin img {
    width: 5vh;
}

.Admin .Users {
    overflow-y: scroll;
}

.Admin .Modal {
    position: absolute;
    width: 80vw;
    height: 80%;
    z-index: 101;
    align-self: center;
    justify-self: center;
    margin-left: auto;
    margin-right: auto;
    /* box-shadow: rgba(0, 0, 0, 0.897) 0vh 0vh 0vh 30vh; */

    border-radius: 0.5vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Admin #MapModal {
    width: 50vw;
    height: 90%;
}

.Admin .ModalBackground {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.897);
    left: 0;
    top: 0;
    position: absolute;
    z-index: 400;
}

.Admin .ModalHeader {
    width: 100%;
    height: 10%;
    border-bottom: 0.3vh solid gainsboro;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2vh;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    font-size: 4vh;
}

.Admin .ModalContent {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 80%;
    flex-wrap: wrap;
    gap: 1vh;
    justify-content: center;
    overflow-y: scroll;
    align-items: flex-start;
}

.Admin #CardModalContent {
    justify-content: space-evenly;
    align-items: center;
    gap: 0vh;
}

.Admin #modalTextArea {
    flex-basis: 50%;
}


.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: max-content;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 5px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    margin-left: -60px;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.Admin .ContentContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: max-content;
    width: 100%;
}

.Admin .MapEditor {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Admin .MapPic {
    width: 23vw;
}

.Admin .DirectionsDiv{
    display: flex;
    flex-direction: row;
    margin-top: 2vh;
    justify-content: space-around;
    padding: 0.5vh;
    align-items: center;
    cursor: pointer;
}

.Admin .DirectionsDiv img{
    border-radius: 0.5vh;
}

.Admin .MapTable {
    position: absolute;
    left: 9.7%;
    top: 20.4%;
    width: 81.2%;
    height: 56.6%;
    display: table;
}

.Admin .MapTableRow {
    display: table-row;
}

.Admin .MapTableBody {
    display: table-row-group;
}

.Admin .MapTableCell,
.MapTableHead {
    width: 9.09090909%;
    max-width: 9.09090909%;
    display: table-cell;
    border-collapse: collapse;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    vertical-align: middle;
    overflow: hidden !important;
}

.Admin .OfficialMapTableHovered {
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.502);
    opacity: 0;
    display: flex;
    vertical-align: center;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 10;
    color: white;
}

.Admin .OfficialMapTableHovered div {
    color: white;
    padding: 1vh 2vh;
    border: 0.3vh solid white;
    font-weight: bold;
    border-radius: 2vh;
}

.Admin .UserMapTableHovered {
    height: 100%;
    width: 100%;
    position: absolute;
    border: 0.5vh solid black;
    background-color: rgba(0, 0, 0, 0.502);
    z-index: 10;
    opacity: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Admin .UserMapTableHovered img {
    width: 15vh;
    margin: 1vh;
    color: white;
    font-weight: bolder;
    text-align: center;
    cursor: pointer;
}

.Admin .OfficialMapTableHovered:hover,
.UserMapTableHovered:hover {
    display: flex;
    opacity: 1;
}

.Admin .MapLayer {
    width: 100%;
    height: 100%;
}

.Admin .MapLayer:hover {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.478);
    height: 100%;
}

.Admin #MapModalContent {
    justify-content: space-evenly;
    align-items: center;
}

.Admin .MapButtons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5vh;
}

.Admin #MapButtonClicked {
    border: 0.5vh solid #0099FF !important;
}

.Admin .MapButton {
    width: 10vh;
    border-radius: 2vh;
    border: 0.5vh solid rgba(128, 128, 128, 0.45);
    padding: 1vh;
    cursor: pointer;
}

.Admin .UserThings {
    display: flex;
    flex-direction: row;
    width: 90%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.Admin .UserForm {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1vh;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 5vh;
}

.Admin .ModalFooter {
    width: 100%;
    height: 10%;
    border-top: 0.3vh solid gainsboro;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.16) 0 -1px 4px;
    padding: 2vh;
    font-size: 3vh;
}

.Admin .ModalFooter div,
.Admin .ModalFooter button {
    border: 0.3vh solid black;
    border-radius: 0.5vh;
    padding: 0.5vh 3vh;
    color: white;
    transition: 0.5s;
}

.Admin .ModalFooter div:first-of-type {
    background-color: maroon;
}

.Admin .ModalFooter button:last-of-type {
    background-color: forestgreen;
    padding: 0.5vh 3vh;
    font-size: 3vh;
}

.Admin .ModalFooter div:first-of-type:hover {
    background-color: rgba(128, 0, 0, 0.39);
}

.Admin .ModalFooter div:last-of-type:hover {
    background-color: rgba(34, 139, 34, 0.507);
}

.Admin .ModalContent .UserItems * {
    text-align: center;
    font-size: 3vh;
}

.Admin .ModalContent .UserItems input {
    border: 0.3vh solid black;
    border-radius: 0.5vh;
}

.Admin .CustomSelect {
    position: relative;
}

.Admin .CustomSelect select {
    /*hide original SELECT element: */
    appearance: none;
    margin-top: 2vh;
    width: 10vw;
    border: 0.3vh solid black;
    border-radius: 0.5vh;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;
}

.Admin .select-selected {
    background-color: DodgerBlue;
}

.Admin .select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
}

.Admin .select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 7px;
}

.Admin .ModalItem {
    margin: 0;
    padding: 2vh;
    font-size: 4vh;
    text-align: center;
    height: fit-content;
    justify-content: center;
    align-items: center;
    position: relative;
}

.Admin .PicInput {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    margin: 0 !important;
    cursor: pointer !important;
    opacity: 1;
    opacity: 0.0;

    /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";

    /* IE 5-7 */
    filter: alpha(opacity=0);

    /* Netscape or and older firefox browsers */
    -moz-opacity: 0.0;

    /* older Safari browsers */
    -khtml-opacity: 0.0;
    display: none;
}

.Admin .InputRelativeParent {
    width: 30vh;
    overflow: hidden;
    margin-top: 2vh;
    position: relative;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.Admin .PicDiv {
    border: 0.3vh solid black;
    cursor: pointer !important;
    border-radius: 0.5vh;
}

.Admin .ModalItem * {
    font-size: 4vh;
    text-align: center;
}

.Admin .UserItems {
    width: 100%;
}

.Admin .ModalContent input {
    border: 0.3vh solid black;
    border-radius: 0.5vh;
    margin-top: 2vh;
}

.Admin .UserMatches {
    width: 90%;
    height: 100vh;
    font-size: 4vh;
}

.Admin .UserMatches .Matches {
    height: 70vh;
    width: 100%;
    margin-top: 1.5vh;
    box-shadow: rgba(0, 0, 0, 0.562) 0vh 3vh 12vh, rgba(0, 0, 0, 0.562) 0vh 3vh 6vh;
    border-radius: 0.5vh;
    background-color: lightslategrey;
    overflow-y: scroll;
}

.Admin .UserMatches .Match {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 5vh;
}

.Admin .UserMatches .MatchHeader {
    border: 0.5vh solid black;
    background-color: moccasin;
    border-radius: 0.5vh;
    padding: 1vh;
    width: 100%;
    align-self: center;
    margin-bottom: 3vh;
}

.Admin .UserMatches .MessageBox {
    margin: 0.5vh 2vh;
    max-width: 70%;
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    font-size: 2vh;
}

.Admin .UserMatches .Message {
    text-align: right;
    padding: 1vh 3vh;
    border: 0.3vh solid black;
    background-color: #0099FF;
    border-radius: 3vh;
    width: 100%;
    color: white;
    width: fit-content;
}

.Admin .MessageBox .Time {
    text-align: right;
    width: 100%;
    padding-right: 1vh;
}

.Admin .Nomessages {
    margin-bottom: 5vh;
}

.Admin .Icon {
    padding-top: 3vh;
}

@media screen and (max-width: 800px) {
    .Admin .ModalItem {
        margin: 0;
        padding: 2vh;
        font-size: 4vh;
        width: 100%;
        height: fit-content;
    }

    .Admin .ModalContent input {
        border: 0.3vh solid black;
        border-radius: 0.5vh;
        width: 70% !important;
    }
}

.Admin .Cards {
    width: 100%;
    height: 100%;
    padding: 2.5vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 4vh;
    overflow-y: scroll;
}

.Admin .CardSection {
    display: flex;
    flex-direction: column;
}

.Admin .CardSection .CardType {
    border: 0.5vh solid black;
    font-size: 3vh;
    font-weight: bold;
    border-radius: 2vh;
    width: max-content;
    padding: 1vh 10vh 1vh 10vh;
    background-color: orange;
    color: rgb(0, 0, 0);
}

.Admin .CardsDiv {
    margin-top: 4vh;
    display: flex;
    gap: 4vh;
    flex-wrap: wrap;
}

.Admin .AddCard {
    width: 20vh;
    height: 30vh;
    border: 0.5vh solid black;
    border-radius: 2vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20vh;
    color: silver;
    background-color: gray;
    cursor: pointer;
    padding-bottom: 4vh;
    transition: 0.5s;
}

.Admin .AddCard:hover {
    background-color: silver;
    color: white;
    font-size: 25vh;
    padding-bottom: 5vh;
}

.Admin .Card {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top:0;
    -webkit-backface-visibility: hidden;
    /* Safari */
    backface-visibility: hidden;
}

.Admin .CardBackImg {
    position: absolute;
    width: 100%;
    height: 100%;
}

.Admin .CardBackText {
    width: 100%;
    height: 100%;
    border-radius: 2vh;
    background-color: rgba(0, 0, 0, 0.574);
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-weight: bold;
    font-size: 1.5vh;
}

.Admin .Text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.FlipCard {
    width: 20vh;
    height: 30vh;
    cursor: pointer;
    background-color: transparent;
    perspective: 1000px;
}

/* This container is needed to position the front and back side */
.FlipCardInner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

/* Position the front and back side */
.FlipCardFront,
.FlipCardBack {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    /* Safari */
    backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    z-index: 300;
}

/* Style the front side (fallback if image is missing) */
.FlipCardFront {
    color: black;
}

.Admin .CardFront{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    -webkit-backface-visibility: hidden;
    /* Safari */
    backface-visibility: hidden;
}

.Admin .CardBack {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    -webkit-backface-visibility: hidden;
    /* Safari */
    backface-visibility: hidden;
}

/* Style the back side */
.FlipCardBack {
    color: white;
    transform: rotateY(180deg);
}


.Admin .Attribute {

    border: 0.2vh solid white;
    padding: 1vh;
    width: 90%;
    border-radius: 0.5vh;
}

.Admin .Attribute:first-of-type {

    border: 0.2vh solid white;
    padding: 0.5vh 1vh;
    width: fit-content;
    border-radius: 3vh;
}

.Admin .Maps {
    width: 100%;
    height: 100%;
    padding: 2.5vh;
    overflow-y: scroll;
}

.Admin .MapsSection {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 4vh;
    margin-top: 4vh;
    align-items: flex-start;
    flex-wrap: wrap;
}

.Admin .MapsTitle {
    border: 0.5vh solid black;
    font-size: 3vh;
    font-weight: bold;
    border-radius: 2vh;
    width: max-content;
    padding: 1vh 10vh 1vh 10vh;
    background-color: orange;
    color: rgb(0, 0, 0);
}

.Admin .Map {
    width: 40vh;
    height: 57.5vh;
}

.Admin .AddMap {
    width: 47vh;
    height: 60vh;
    border: 0.5vh solid black;
    border-radius: 2vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20vh;
    color: silver;
    background-color: gray;
    cursor: pointer;
    padding-bottom: 4vh;
    transition: 0.5s;
}

.Admin .AddMap:hover {
    background-color: silver;
    color: white;
    font-size: 25vh;
    padding-bottom: 5vh;
}

.FlipCardFrontLayer{
    width: 100%;
    height: 100%;
    visibility: hidden;
    border-radius: 1vh;
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    position: absolute;
    top: 0;
    left: 0;    
    z-index: 9;
}

.FlipCardFrontLayer div{
    margin: 1vh;
    border: 0.5vh solid white;
    border-radius: 1vh;
    color: white;
    background-color: rgba(0, 0, 0, 0.501);
    padding: 0.5vh 1vh;
    font-size: 2vh;
    z-index: 10;
    font-weight: bold;
}

.FlipCardFrontLayer img{
    margin: 1vh;
}

.UserCardContext:hover + .FlipCardFrontLayer{
    display: flex;
    visibility: visible;
}

.Card:hover + .FlipCardFrontLayer{
    display: flex;
    visibility: visible;
}

.FlipCardFrontLayer:hover{
    display: flex;
    visibility: visible;
}


.Admin .UserCardContext{
    width: 100%;
    height: 100%;
    z-index: 9;
    display: flex;
    color: blanchedalmond;
    padding: 0.8vh;
    align-items: center;
}

.Admin .UserCardContext *{
    font-family: 'Grenze Gotisch', cursive;
    font-size: 3vh;
    line-height: 1;
}

.Admin #exploreCard{
    flex-direction: column;
}

.Admin .DurationsDiv{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
}

.Admin .RuinBadgeDiv{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
}

.Admin .RuinDivCircle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Admin .RuinDivCircle img{
    position: absolute;
    height: auto;
    left: 0;
    top:0;
    z-index: 0;
    width: 3.8vh;
}

.Admin .DurationsDivCircle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 5vh;
}

.Admin .DurationsDivCircle div{
    position: relative;
    line-height: 1.2;
    z-index: 1;
}

.Admin .DurationsDivCircle img{
    position: absolute;
    height: auto;
    left: 0;
    top:0;
    z-index: 0;
}

.Admin .CardNameDiv{
    margin-top: 9.5vh;
    height: max-content;
    color: rgba(255, 255, 255, 0.798);
    line-height: 1;
}

.Admin .FieldTypeDiv{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
    align-items: center;
    height: 5vh;
    width: 90%;
}

.Admin .FieldTypeImg{
    width: 3.7vh;
}

.Admin #anyFieldTypeImg{
    width: 3vh;
}

.Admin .BlocksDiv {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 5vh;
}


/* DivTable.com */
.divTable {
    display: table;
    border-collapse: collapse;
}

.divTableRow {
    display: table-row;
}

.divTableHeading {
    background-color: #EEE;
    display: table-header-group;
}

.divTableCell,
.divTableHead {
    display: table-cell;
    height: 7px;
    width: 7px;
}

.divTableHeading {
    background-color: #EEE;
    display: table-header-group;
    font-weight: bold;
}

.divTableFoot {
    background-color: #EEE;
    display: table-footer-group;
    font-weight: bold;
}

.divTableBody {
    display: table-row-group;
}

.Admin #ruinCard{
    flex-direction: column;
    padding: 1.3vh;
}

.Admin #ruinName{
    margin-top: 13vh;
}

.Admin .RuinFieldType{
    height: 9vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.Admin .RuinFieldType img{
    width: 7vh;
}


.Admin #raidCard{
    flex-direction: column;
}


.Admin #raidName{
    margin-top: 13.1vh;
}

.Admin .DirAndBlocks{
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.Admin .directionImg{
    width: 8vh;
    padding-right: 1vh;
}

.Admin #monsterTableCell{
    height: 11px;
    width: 11px;
}