.Admin{
    min-height: 100vh;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    /* justify-content: center; */
    font-size: 2.5vh;
    display: flex;
    color: black;
    background-color: gainsboro;
}

.Admin *{
    font-family: -apple-system,BlinkMacSystemFont,segoe ui,Roboto,helvetica neue,Arial,noto sans,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol,noto color emoji;
}

.Admin .SideNavbar{
    height: 100vh;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: center;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(blue,dodgerblue);
    color: white;
    gap: 3vh;
    width: 20%;
    padding: 2.5vw 2vh;
    text-align: left;
    list-style: none;
}

.Admin .Item{
    padding: 1.5vh 15vh 1.5vh 3vh;
    border-radius: 0.5vh;
    width: 100%;
}

.Admin .Item:hover{
    background-color: rgba(192, 255, 255, 0.235);
    cursor: pointer;
}

.Admin .Active{
    background-color: rgba(192, 255, 255, 0.46);
    font-weight: bold;
}

.Admin .AdminPanel{
    width: 100%;
    border-bottom: 0.5vh solid gainsboro;

}

.Admin .Content{
    width: 80vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 2.5vw;
}

.Admin .Users{
    width: 75vw;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 0.5vh;
}

.Admin .User:hover{
    background-color: rgba(30, 143, 255, 0.294) !important;
}

.Admin .User:last-of-type{
    border: none;
}


.Admin table {
    width: 100%;
    border-collapse: separate; /* Don't collapse */
    border-spacing: 0;
}

.Admin td, th{
    padding: 2vh;
}

.Admin td {
    text-align: center;
}

.Admin th{
    border-bottom: 0.3vh solid gainsboro
}

.Admin .Header{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.Admin thead{
    position: sticky;
    top: 0;
}

.Admin .Clickable{
    cursor: pointer;
}

.Admin .User:nth-child(odd) {background-color: rgba(211, 211, 211, 0.261)}
