@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap");

.ConnectRoom {
    width: 100vw;
    height: 100vh;
    min-height: 100vh;
    display: flex;
    background-color: #282c34;
    background-image: url("../../gfx/loginregisterscreen.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5vh;
}


.ConnectRoom * {
    font-family: "Alfa Slab One", cursive;
    font-size: 5vh;
    text-decoration: none;
}

.ConnectRoom .Context {
    width: 50vw;
    height: max-content;
    border: 0.5vh solid black;
    border-radius: 2vh;
    box-shadow: 0 0 32px 16px rgba(0, 0, 0, 0.3),
        inset 0 0 32px 16px rgba(228, 129, 0, 0.2);
    background-color: gainsboro;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3vh;
    padding: 5vh;
}

.ConnectRoom .Div1{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2vh;
}

.ConnectRoom .Div4{
    width: 100%;
    text-align: center;
}

.ConnectRoom .Div5{
    width: 80%;
    background-color: white;
    border: 0.5vh solid black;
    outline: none;
    padding: 2vh 2vh 2vh 2vh;
    font-size: 3vh;
    border-radius: 2vh;
    text-align: center;
}

.ConnectRoom .Div3{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:2vh;
    width: 90%;
    flex-wrap: wrap;
    margin: 3vh;
}

.ConnectRoom .Div3 a{
    padding: 1vh 2vh;
    border:0.5vh solid black;
    background-color: gray;
    color: white;
    border-radius: 2vh;
}

.ConnectRoom .CreateButton{
    padding: 1vh 2vh;
    border:0.5vh solid black;
    background-color: gray;
    color: white;
    border-radius: 2vh;
    font-size: 3vh;
}