@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap");

.CreateRoom {
    min-height: 100vh;
    background-color: #282c34;
    background-image: url("../../gfx/loginregisterscreen.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    display: flex;

    align-items: center;
    justify-content: center;
}

.CreateRoom * {
    font-family: "Alfa Slab One", cursive;
    font-size: 3vh;
}

.CreateRoom .Div2 {
    height: 90vh;
    width: 80vw;
    border: 0.5vh solid black;
    border-radius: 2vh;
    background-color: gainsboro;
    box-shadow: 0 0 32px 16px rgba(0, 0, 0, 0.3),
        inset 0 0 32px 16px rgba(228, 129, 0, 0.2);
    padding: 2vh;
    gap: 2vh;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}

.CreateRoom .Div3 {
    height: 50%;
    border: 0.5vh solid black;
    border-radius: 2vh;
    background-color: gainsboro;
    box-shadow: 0 0 4vh 0.5vh rgba(0, 0, 0, 0.3),
        inset 0 0 4vh 0.5vh rgba(228, 129, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: visible;
}

.CreateRoom .DivTitle {
    position: absolute;
    top: -6vh;
    left: 1vh;
    padding: 1vh;
    border-radius: 2vh;
    align-self: flex-start;
    border: 0.5vh solid black;
    background-color: gainsboro;
    z-index: 1000;
}

.CreateRoom .Div4 {
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vh;
}

.CreateRoom .InfoDiv {
    text-align: center;
    z-index: 5;
}

.CreateRoom .ChatDiv {
    width: 50%;
    height: 100%;
    border-radius: 2vh;
    border: 0.5vh solid black;
    box-shadow: 0 0 4vh 0.5vh rgba(0, 0, 0, 0.3),
        inset 0 0 4vh 0.5vh rgba(228, 129, 0, 0.2);
    position: relative;
    display: flex;
    flex-direction: column;
}

.CreateRoom .ServerInfoDiv {
    width: 50%;
    height: 100%;
    border-radius: 2vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.CreateRoom .TextDiv {
    border: 0.5vh solid black;
    height: 70%;
    box-shadow: 0 0 4vh 0.5vh rgba(0, 0, 0, 0.3),
        inset 0 0 4vh 0.5vh rgba(228, 129, 0, 0.2);
    width: 100%;
    border-radius: 2vh;
    padding: 2vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-x: scroll;
}

.CreateRoom .TextDiv * {
    font-size: 1vw;
}

.CreateRoom .InviteDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.CreateRoom .CodeDiv {
    overflow-x: scroll;
    width: 70%;
    padding: 1vh;
    border-radius: 1vh 0 0 1vh;
    border: 0.5vh solid black;
    outline: none;
}

.CreateRoom .CopyButton {
    background-color: gray;
    z-index: 0;
    border: 0.5vh solid black;
    border-radius: 0 1vh 1vh 0;
    border-left: none;
    right: 0;
    height: 100%;
    cursor: pointer;
    width: 30%;
    transition: 0.5s;
}

.CreateRoom .CopyButton:hover {
    background-color: peru;
    border-radius: 0 3vh 3vh 0;
}

.CreateRoom .Copied {
    cursor: pointer;
    width: 30%;
    transition-duration: 0.5s;
    background-color: gray;
    border: 0.5vh solid black;
    border-radius: 0 1vh 1vh 0;
    border-left: none;
    height: 100%;
}

.CreateRoom .Copied:hover {
    background-color: lime;
    border-radius: 0 3vh 3vh 0;
}


.CreateRoom .ButtonDiv {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2vh;
}

.CreateRoom .ButtonDiv button {
    width: 50%;
    height: 10vh;
    border: 0.5vh solid black;
    background-color: gray;
    color: white;
    box-shadow: 0 0 4vh 0.5vh rgba(0, 0, 0, 0.3),
        inset 0 0 4vh 0.5vh rgba(228, 129, 0, 0.2);
    cursor: pointer;
}

.CreateRoom .ButtonDiv a {
    text-decoration: none;
    width: 50%;
    height: 10vh;
    border: 0.5vh solid black;
    background-color: gray;
    color: white;
    cursor: pointer;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 0 4vh 0.5vh rgba(0, 0, 0, 0.3),
        inset 0 0 4vh 0.5vh rgba(228, 129, 0, 0.2);
}

.CreateRoom .ChatDivContent {
    height: 80%;
    border-bottom: 0.5vh solid black;
    display: flex;
    width: 100%;
    padding: 4vh 2vh 2vh 2vh;
    flex-direction: column;
    justify-content: flex-start;
    gap: 3vh;
    overflow-y: scroll;
}

.CreateRoom .Message {
    border: 0.5vh solid black;
    border-radius: 2vh;
    width: max-content;
    padding: 0.5vh 2vh;
    max-width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}

.CreateRoom .Message * {
    font-size: 2vh;
}

.CreateRoom .MessagerName {
    position: absolute;
    top: -3vh;
    left: 1vh;
}

.CreateRoom .MessageText {
    word-break: break-all;
}

.CreateRoom .ChatDivInput {
    height: 20%;
    padding: 1vh;
    display: flex;
}

.CreateRoom .ChatInput {
    width: 80%;
    height: 100%;
    border: 0.5vh solid black;
    border-right: none;
    border-radius: 1vh 0 0 1vh;
    background-color: white;
    outline: none;
    padding: 0 9vw 0 2vh;
}

.CreateRoom .ChatButton {
    width: 20%;
    height: 100%;
    right: 1vh;
    border: 0.5vh solid black;
    border-radius: 0 1vh 1vh 0;
    background-color: gray;
    cursor: pointer;
}

.CreateRoom .PlayersDiv{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4vh;
    padding: 0 2vh 0 2vh;
    overflow-x: scroll;
}

.CreateRoom .PlayerDiv {
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 2vh;
    box-shadow: 0 0 2vh 0.5vh rgba(0, 0, 0, 0.3);
    position: relative;
    z-index: 10;
}

.CreateRoom .PicsDiv{
    position: relative;
    padding: 2vh;
    display: flex;
    justify-content: center;
    width: 20vh;
}

.CreateRoom .PictureDiv {
    height: 20vh;
    border: 0.5vh solid black;
    border-radius: 2vh;

    object-fit: cover;
    overflow: hidden;
    box-shadow: 0 0 2vh 0.5vh rgba(0, 0, 0, 0.3) inset;
    background-color: white;
    position: relative;
}

.CreateRoom .MuteBanDiv img{
    width: 40px;
}

.CreateRoom .MuteBanDiv{
    display: flex;
    padding: 0.5vh;
    position: absolute;
    justify-content: space-between;
    height: fit-content;
    width: 100%;
    visibility: hidden;
    z-index: 15;
    cursor: pointer;
}

.PlayerDiv:hover > .MuteBanDiv{    
    visibility: visible;
}