@import url('https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap");

.Game {
    min-height: 100vh;
    height: 100vh;
    background-color: gainsboro;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    box-shadow: inset 0 0 8vh 2vh rgba(228, 129, 0, 0.5);
    position: relative;
    padding: 3vh;
    gap: 2vh;
}

.Game * {
    line-height: 1.5;
    font-size: 1.5vh;
    font-weight: 500;
    text-align: center;
    font-family: "Alfa Slab One", cursive;
    user-select: none;
}

.Game .MapDiv {
    /* width: 30%; */
    /* height: fit-content; */
    height: 100%;
    box-shadow: rgba(0, 0, 0, 0.411) 0vh 2vh 4vh 0vh, rgba(0, 0, 0, 0.534) 0vh 2vh 16vh 0vh;
    background-color: #474544;
    position: relative;
    border-radius: 0.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Game .MapPic {
    /* max-height: 100%; */
    max-height: 100%;
    object-fit: contain;
}

.Game .MapTable {
    position: absolute;
    max-height: 100%;
    left: 9.7%;
    top: 20.4%;
    width: 81.2%;
    height: 56.6%;
    display: table;
}

.Game .MapTableRow {
    display: table-row;
}

.Game .MapTableBody {
    display: table-row-group;
}

.Game .MapTableCell,
.Game .MapTableHead {
    width: 9.09090909%;
    max-width: 9.09090909%;
    display: table-cell;
    border-collapse: collapse;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    vertical-align: middle;
    overflow: hidden !important;
}

.Game .MapLayer {
    width: 100%;
    height: 100%;
}

.Game .MapLayer:hover {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.478);
    height: 100%;
}

.Game .ContextDiv {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2vh;
}

.Game .ContextDiv * {
    gap: 2vh;
}

.Game .DeckDiv {
    height: 60%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2vh;
}

.Game .PlayersChatDiv {
    height: 40%;
    display: flex;
    flex-direction: row;
    width: 100%;
}

.Game .DrawnCardDiv {
    height: 100%;
    width: 17%;
    display: flex;
    border: 0.5vh solid black;
    border-radius: 1vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0vh
}

.Game .ActualCardDiv {
    height: 62%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.Game .CardScrollDiv {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow-y: scroll;
    min-height: min-content;
}

.Game .ChooseDiv {
    height: 38%;
    width: 100%;
}

.Game .CardsDiv {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Game .CardsDiv,
.Game .CardsDiv * {
    gap: 2vh;
}

.Game .TopCardsDiv {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
}

.Game .CardDiv {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Game .CardDivImg {
    max-width: 100%;
    object-fit: contain;
    border: 0.4vh solid black;
    border-radius: 1vh;
    background-color: #474544;
    cursor: pointer;
}

.Game .BottomCardsDiv {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
}

.Game .PlayersDiv {
    width: 40%;
    height: 100%;
    border: 0.5vh solid black;
    border-radius: 1vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1vh;
    gap: 1vh;
    box-shadow: inset 0 0 3vh 0.5vh rgba(228, 129, 0, 0.297);
    z-index: 1;
}

.Game .PlayersInfoDiv {
    height: 80%;
    width: 100%;
    border: 0.5vh solid black;
    border-radius: 1vh 1vh 0 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    gap: 0;
}

.Game .PlayerInfo {
    border-bottom: 0.3vh solid black;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.Game .PlayerInfo * {
    font-size: 2vh;
}

.Game .RoomControlsDiv {
    height: 20%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.Game .RoomControlsDiv a {
    all: unset;
    background-color: gray;
    border: 0.5vh solid black;
    border-radius: 1.5vh;
    padding: 1vh;
    width: 50%;
    cursor: pointer;
}

.Game .SelectBlockDiv {
    height: 80%;
    width: 100%;
    border-top: 0.5vh solid black;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-evenly;
    flex-flow: row wrap;
}

.Game .BlockDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 2 50%;
    box-shadow: inset 0 0 4vh 1vh rgba(74, 74, 74, 0.5);
    transition: 0.3s;
}

.Game .BlockDiv:hover {
    box-shadow: inset 0 0 4vh 1vh rgba(0, 77, 122, 0.43);
}


.Game .ControlsDiv {
    height: 20%;
    width: 100%;
    border-top: 0.5vh solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0;
}
