@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap");

.Home{
    background-color: #282c34;  
    background-image: url("../../gfx/bckgrnd.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    min-height: 100vh;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    /* justify-content: center; */
    font-size: calc(10px + 2vmin);
    display: flex;
}

.Home .Wrapper{
    width: 80vh;
    margin-right: 10%;
    text-align: center;
}

.Home .Div1{
    height: 50vh;
    width: 80%;
    flex-direction: row;
    background-color: gainsboro;
    box-shadow: 0 0 64px 16px rgba(0, 21, 117, 0.7),
    inset 0 0 32px 16px rgba(228, 129, 0, 0.2);
    border: 0.5vh solid black;
    text-decoration: none;
    border-radius: 2vh;
    display: flex;
    flex-direction: column;
    font-family: "Alfa Slab One", cursive;
    margin-left: auto;
    margin-right: auto;
}

.Home .Div11{
    height: 50vh;
    width: 80%;
    background-color: gainsboro;
    border-radius: 2vh;
    box-shadow: 0 0 64px 16px rgba(0, 21, 117, 0.7),
    inset 0 0 32px 16px rgba(228, 129, 0, 0.2);
    display: flex;
    flex-direction: column;
    font-family: "Alfa Slab One", cursive;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
    border: 0.5vh solid black;
}

.Home .Div10{
    margin: 0;
    height: 80%;
    border-radius: 2vh 2vh 0 0;
    border-bottom: 0.5vh solid black;
    overflow-y: scroll;
    padding: 3vh;
    padding-top: 0;
    box-shadow: inset 0 -10px 10px -10px #000000;
}


.Home ::-webkit-scrollbar {
    display: none;
}


.Home .Div7{
    display: flex;
    flex-direction: row;
    height: 20%;
    width: 100%;
    margin: 0;
}

.Home .Div7 a{
    height: 100%;
    width: 50%;
    border: none !important;
    display: flex;
}

.Home .Div7 a div{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Home .Div7 a:first-of-type{
    border-radius: 0 0 0 2vh;
    border-right: 0.5vh solid black !important;
}

.Home .Div7 a:last-of-type{
    border-radius: 0 0 2vh 0;
}

.Home .Div7 a:first-of-type:hover{
    border-radius: 0 0 0 2vh !important;
}

.Home .Div7 a:last-of-type:hover{
    border-radius: 0 0 2vh 0 !important;
}

.Home .Div7 a:hover{
    border-radius: 0 !important;
    background-color: green !important;
}


.Home .Div1 li {
    padding: 0;
}

.Home .Div2{
    border-bottom: 0.5vh solid black;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0pt;
    padding: 1vh 1vh 1vh 1vh;
}

.Home .Div2 a{
    border-radius: 2vh 0vh 0vh 0vh;
    padding: 1vh;
}

.Home .Div2 a:first-of-type{
    background-color: #282c34;
    color:white;
}

.Home .Div2 a:last-of-type{
    border-radius: 0vh 1vh 0vh 0vh;
}

.Home .Div3{
    height: 60%;
    display: flex;
    flex-direction: row;
    border-bottom: 0.5vh solid black;
    justify-content: center;
}

.Home .Div4{
    height: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1vh 1vh 1vh 1vh;
    gap: 1vh;
}

.Home .Div4 a{
    padding: 1vh;
}

.Home .Div4 a:first-of-type{
    border-radius: 0vh 0vh 0vh 1vh;
}

.Home .Div4 a:last-of-type{
    margin-left: auto;
    border-radius: 0vh 0vh 1vh 0vh;
}

.Home .Div4 a:last-of-type:hover {
    background-color: red; /* Green */
    color: white;
    border-radius: 2vh;
}

.Home .DivPlaceholder{
    width: 10%;
}

.Home .Div5{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 2vh;
    justify-content: center;
}

.Home .Div5_2{
    height: 100%;
    width: max-content;
    display: flex;
    flex-direction: column;
    font-size: 4vh;
    justify-content: center;
}

.Home .Pics{
    position: relative;
    width: 20vh;
    height: 20vh;
}

.Home .ProfileFrame{
    height: 20vh;
    width: 20vh;
    margin: 0pt;
    top:0pt;
    padding: 0pt;
    box-shadow: 0 0 32px 8px rgba(186, 118, 0, 0.852),
    inset 0 0 64px 32px rgba(186, 118, 0, 0.852);
    border: 0.5vh solid black;
    border-radius: 1vh;
    z-index: 1;
    position: absolute;
    left: 0pt;
}

.Home .ProfilePics{
    height: 20vh;
    width: 20vh;
    z-index: 0;
    left: 0pt;
    top:0pt;
    position: absolute;
}

.Home .Div6{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 2vh;
    padding-left: 2vh;
}

.Home .Div6 a{
    border-radius: 1vh;
    padding: 1vh 2vh 1vh 2vh;
}

.Home .Div6 a:first-of-type{
    background-color: rgb(34, 255, 0);
}

.Home .Div6 a:last-of-type{
    background-color: rgb(217, 221, 0);
}

.Home .Logo{
    width: 100%;
    box-shadow: 0 0 32px 16px rgba(0, 21, 117, 0.7),
    inset 0 0 32px 16px rgba(0,0,0, 0.4);
    border-radius: 2vh;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15vh;
    padding: 1vh 4vh 1vh 4vh;
    border: 0.5vh solid rgba(0,0,0, 0.8);
}

.Home a{
    background-color: gainsboro;
    border: 0.5vh solid black;
    font-size: 3vh;
    font-family: "Alfa Slab One", cursive;
    color: black;
    text-align: center;
    display: block;
    box-shadow: 0 8px 16px 0 rgba(228, 129, 0, 0.2),
    inset 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-decoration: none;
    cursor:pointer;
}

.Home a {
    transition-duration: 0.4s;
}

.Home a:hover {
    background-color: blue; /* Green */
    color: white;
    border-radius: 2vh;
}