.Profil {
    background-color: #282c34;
    background-image: url("../../gfx/loginregisterscreen.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    display: flex;
}

.Profil * {
    font-family: "Alfa Slab One", cursive;
    text-decoration: none;
    font-size: 6vh;
    text-align: center;
}

.Profil .Button {
    cursor: pointer;
    background-color: rgb(147, 255, 137);
    border: 0.5vh solid black;
    border-radius: 2vh;
    padding: 2vh;
    background-color: white;
    color: black;
    font-size: 3vh;
    transition-duration: 0.4s;
    position: fixed;
    z-index: 10;
    align-self: flex-start;
    left: 2vh;
    top: 2vh;
}

.Profil .Button:hover {
    background-color: goldenrod;
    font-size: 4vh;
    left: 1.5vh;
    top: 1.5vh;
}

.Profil .Pics {
    width: 30vh;
    position: relative;
    min-width: 100px;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 13vh;
    z-index: 50;
    cursor: pointer;
}

.Profil .ImgInput{
    height: 30vh; 
    width: 30vh ;
    font-size: 14pt;
    position: absolute;
    z-index: 50;
    opacity: 0;
    cursor: pointer;
    display: none;
}

.Profil .SelectPics{
    width: 7vh;
    height: 7vh;
    min-width: 50px;
    min-height: 50px;
    z-index: 300;
    position: absolute;
    opacity: 0;
}

.Profil .PicsBg {
    width: 30vh;
    height: 30vh;
    min-width: 100px;
    min-height: 100px;
    border: 0.5vh solid black;
    background-color: black;
    border-radius: 2vh;
    z-index: 0;
    position: absolute;
}

.Profil .ProfileFrame {
    width: 30vh;
    height: 30vh;
    min-width: 100px;
    min-height: 100px;
    border: 0.5vh solid black;
    border-radius: 2vh;
    z-index: 1;
    position: absolute;
    object-fit: contain;
}

.Profil .ProfilePics {
    width: 15vh;
    height: 15vh;
    min-width: 50px;
    min-height: 50px;
    z-index: 0;
    border-radius: 2vh;
    background-color: gainsboro;
    object-fit: cover;
}

.Profil .Name {
    font-size: 10vh;
}

.Profil .Div1 {
    background-color: gainsboro;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 40vh;
    border-top: 0.5vh solid black;
    position: relative;
}

.Profil .Div2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: fit-content;
    position: absolute;
    top: -15vh;
}

.Profil .Points {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 35vh;
}

.Profil .Points * {
    font-size: 6vh;
}

.Profil .Info {
    padding: 3vh;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 300px;
    flex-direction: column;
}


.Profil .Info div {
    border: 0.5vh solid black;
    width: 50%;
    min-width: min-content;
    border-radius: 2vh;
    background-color: white;
    color: rgba(0, 0, 0, 0.89);
    font-size: 8vh !important;
    padding: 0vh 2vh 0 2vh;
}

.Profil .Div4 {
    margin-top: 10vh;
    width: 80%;
    padding: 2vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.Profil .Matches {
    width: 100%;
    height: 100vh;
    border: 0.5vh solid black;
    border-radius: 2vh;
    background-color: white;
    overflow-y: scroll;
}

.Profil .Div4 h1 {
    align-self: flex-start;
}

.Profil table {
    width: 100%;
    border-collapse: separate;
    /* Don't collapse */
    border-spacing: 0;
}

.Profil td {
    border-bottom: 0.5vh solid black;
    text-align: center;
}

.Profil th {
    border-bottom: 0.5vh solid black;
}

.Profil thead {
    position: sticky;
    top: 0;
    background-color: darkgoldenrod;
}

.Profil td {
    padding: 2vh;
}

.Profil .Match:nth-child(odd) {
    background-color: lightgrey
}

@media screen and (max-width: 600px) {
    .Profil .Name {
        display: none;
        font-size: 10vh;
    }
}